@media screen and (min-width: 1600px) {
	.scores-quote  {
		.score-quote__thumb-up {
			right:calc((100% - 1600px)/2);
			width: 410px;
		}
	}
}

@media screen and (max-width: 1170px) {
	.wrap {
		width: 95%;
	}
	
	.scores-quote  {
		blockquote {
			max-width: 83%;
		}
		
		.score-quote__thumb-up {
			height: 240px;
			bottom: auto;
			top:-20px;
			width: 180px;
		}
	}
	
	.tips-section .wrap .two-columns {
		width: 95%
	}
	
	.tools-section {
		.section-header {
			.section-header__text {
				max-width: 400px;
			}
		}
		
		.tools-section__phone-illustration {
			-webkit-transform: translateX(0);
			        transform: translateX(0);
		}
	}
}

@media screen and (max-width: 1023px) {
	.wrap {
		width: 93%;
	}
	
	.page-header {
		.header-logo {
			img {
				width: 152px !important;
				height: auto;
			}
		}
		
		.page-header__nav li {
			margin: 0 10px;
		}
	}
	
	section {
		.section-header {
			.section-header__title {
				font-size: 26px;
			}
			.section-header__text {
				font-size: 18px;
				line-height: 24px;
			}
		}
	}
	
	.welcome-section {
		background-size: 55% auto;
		background-position: 92% bottom;
		padding: 70px 0 30px;
		margin: 78px 0 0;
		
		&::before {
			right: 5%;
			width: 417px;
			background-size: 100% auto;
		}
		
		.welcome-section__content {
			.welcome-section__header {
				font-size: 30px;
				line-height: 32px;
				margin: 0 0 20px;
			}
			
			.welcome-section__text {
				font-size: 16px;
				margin: 0 0 30px;
			}
			
			.welcome-section__login-note {
				margin: 25px 0 0;
			}
		}
	}
	
	.scores-section {
		.wrap {
			.col.scroll-box {
				height: 400px;
			}
		}
		.scores-section__scores-list {
			li {
				max-width: 300px;
				height: 400px;
				
				.scores-list-item__img {
					margin: 0 0 25px;
					max-width: 65%;
				}
				.scores-list-item__title {
					font-size: 16px;
					margin: 0 0 10px;
				}
				.scores-list-item__text {
					font-size: 14px;
				}
			}
		}
	}
	
	.scores-quote {
		padding: 45px 0 30px;
		
		blockquote {
			p {
				font-size: 24px;
				margin: 0 0 20px;
			}
			cite {
				font-size: 18px;
			}
		}
		
		.score-quote__thumb-up {
			background-size: 100% auto;
			width: 245px;
			background-position: 110px bottom;
			top: auto;
			bottom: 5px;
		}
	}
	
	.tools-section {
		
		.section-header {
			.section-header__text {
				max-width: 300px;
			}
		}
		
		.tools-section__phone-illustration {
			background: none;
			width: 330px;
			height: 540px;
			float: right;
			
			.tools-section__phone-illustration__screen {
				width: 176px;
				left: 60px;
				right: auto;
				bottom: auto;
				top: 92px;
			}
			
			.tools-section__phone-illustration__phone {
				width: 100%;
				height: 100%;
				background-size: 100% auto;
				bottom: 0;
			}
			
			.tools-section__phone-illustration__finger {
				display: none;
			}
		}
	}
	
	.tips-section {
		overflow: hidden;
		
		.wrap {
			.two-columns {
				width: 93%;
			}
		}
		
		.tips-section__tips-illustartions {
			.tips-illustartions__title {
				font-size: 15px;
				margin-bottom: 5px;
			}
			
			.tips-illustartions__img {
				width: 260px;
			}
			
			li {
				margin: 0 0 25px;
				
				&:last-child {
					-webkit-transform: translateX(80px);
					        transform: translateX(80px);
				}
			}
		}
	}
	
	.about-section {
		.about-section__title {
			font-size: 26px;
		}
	}
	
	.faq-section {
		.faq-section__title {
			font-size: 18px;
		}
		
		
		
		.faq-section__videos {
			li {
				float: left;
				margin: 0 5px;
				position: relative;
				width: 280px;
				
				span {
					&::after {
						content:'';
						position: absolute;
						width: 100%;
						height:30%;
						top:0;
						left:0;
					}
					&::before {
						content:'';
						position: absolute;
						width: 100%;
						height:30%;
						bottom:0;
						left:0;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.desktop-hidden {
		display: none;
	}
}

@media screen and (max-width: 767px) {
	
	.mobile-hidden {
		display: none;
	}
	
	.mobile-join-link {
		border-radius: 50%;
		font-size: 14px !important;
		font-weight: bold !important;
		width: 56px;
		height: 56px;
		display: inline-block;
		background: #444C6D;
		color:#fff !important;
		text-align: center;
		line-height: 56px !important;
		-webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.2);
		        box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.2);
		position: fixed;
		bottom: 20px;
		right: 20px;
		opacity: 1;
		z-index: 30;
		-webkit-transition: 0.4s;
		transition: 0.4s;
		-webkit-transform: translateY(140px);
		        transform: translateY(140px);
	}
	
	.mobile-join-link.active {
		-webkit-transform: translateY(0px);
		        transform: translateY(0px);
	} 
	
	section {
		.wrap {
			.two-columns {
				-ms-flex-wrap: wrap;
				    flex-wrap: wrap;
				.col {
					width: 100%;
				}
			}
		}
		
		.section-header {
			text-align: center;
			padding: 0 3%;
			margin: 0 auto 40px;
			
			.section-header__title {
				font-size: 24px;
			}
			
			.section-header__text {
				font-size: 16px;
			}
		}
	}
	
	.page-header {
		padding: 12px 0 8px !important;
		
		.toggle-mobile-menu {
			background:#515151;
			display:block;
			background:none;
			border:0;
			width:28px;
			height:22px;
			padding:0;
			position:relative;
			text-transform:uppercase;
			z-index:3;
			
			span {
				content:'';
				display:block;
				width:100%;
				height:3.3px;
				background:#fff;
				position:absolute;
				border-radius: 2px;
				
				&:nth-child(1) {
					top:0;
					-webkit-transform-origin:100% 0;
					        transform-origin:100% 0;
					-webkit-transition:.4s;
					transition:.4s;
				}
				
				&:nth-child(2) {
					left:0;
					top:9.5px;
					-webkit-transition:.3s;
					transition:.3s;
				}
				
				&:nth-child(3) {
					top:auto;
					bottom:0;
					-webkit-transform-origin:100% 100%;
					        transform-origin:100% 100%;
					-webkit-transition:.4s;
					transition:.4s;
				}
			}
			
			&.active {
				span {
					&:nth-child(1) {
						-webkit-transform:rotate(-45deg);
						        transform:rotate(-45deg);
            top:1px;
					}

					&:nth-child(2) {
						opacity:0;
					}

					&:nth-child(3) {
						-webkit-transform:rotate(45deg);
						        transform:rotate(45deg);
            bottom:-2px;
					}
				}
			}
	 }
		
		.page-header__nav {
			position: absolute;
			top: 100%;
			background: #fff;
			left:0;
			width: 100%;
			height: 100vh;
			display: block;
			padding: 80px 0 0;
			display: none;
			
			ul {
				text-align: center;
				
				&.nav__profile-menu {
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-ms-flex-wrap: wrap;
					    flex-wrap: wrap;
					
					li {
						border: 0 !important;
						width: 100%;
						-webkit-box-ordinal-group:3;
						    -ms-flex-order:2;
						        order:2;
						
						&:first-child {
							a {
								width: auto;
								padding: 0;
								
								&::after {
									content:'' !important;
									width: 100%;
									background: #283249;
								}
							}
						}
						
						&.nav__profile-menu__join-link {
							-webkit-box-ordinal-group:2;
							    -ms-flex-order:1;
							        order:1;
							margin: 40px 0;
							
							a {
								background: #444C6D;
								color:#fff;
								width: auto;
								padding: 12px 34px;
							}
						}
					}
				}
				
				li {
					display: block;
					border-top:1px solid #D8D8D8;
					
					&:last-child {
					 border-bottom:1px solid #D8D8D8;
					}

					a {
						color:#283249;
						padding: 20px 0;
						display: inline-block;
						width: 100%;
						
						&::after {
							content:none;
						}
					}
				}
			}
		}
	}
	
	.welcome-section {
		margin: 58px 0 0;
		background-image: none;
		padding: 50px 0 30px;
		
		&::before {
			display: none;
		}
		
		.wrap {
			width: 100%;
		}
		
		.welcome-section__content {
			max-width: 100%;
			width: 100%;
			text-align: center;
			
			.welcome-section__header {
				font-size: 28px;
				margin: 0 0 35px;
			}
			
			.welcome-section__card-icon-mobile {
				position: relative;
				width: 100%;
				padding: 37% 0 0;
				background: url(../img/hands_card_mobile.svg) no-repeat center top / 100% auto;
				margin: 0 0 20px;
			}
			
			.welcome-section__text {
				font-size: 18px;
			}
			
			.welcome-section__login-note {
				font-size: 14px;
			}
		}
	}
	
	.scores-section {
		padding: 60px 0 40px;
		
		.wrap {
			.col.scroll-box {
				height: auto;
			}
		}
		.scores-section__scores-list {
			height: auto;
			
			li {
				height: auto;
				max-width: 100%;
				margin: 0 auto 35px;
				
				&:not(:last-child)::after {
					content:'';
					width: 200px;
					height: 2px;
					background: #E1ECF9;
					margin: 35px 0 0;
				}
				
				.scores-list-item__img {
					max-width: 50%;
				}
				
				.scores-list-item__title {
					font-size: 18px;
					
					.scores-list-item__title__MSE {
						font-weight: 700;
					}
				}
				
				.scores-list-item__text {
					font-size: 16px;
				}
			}
		}
		
		.scores-section__dots-nav {
			display: none;
		}
	}
	
	.scores-quote {
		padding: 45px 0 40px;
		
		blockquote {
		  max-width: 100%;
			
			p {
				font-size: 35px;
				line-height: 40px;
				padding: 0 10% 0 20px;
			}
			
			cite {
				font: 500 18px "Quicksand";
				padding: 0 0 0 20px;
				display: block;
			}
		}
		
		.score-quote__thumb-up {
			display: none;
		}
	}
	
	.tools-section {
		padding: 60px 0 30px;
		
		.wrap {
			width: 100%;
		}
		
		.section-header {
			width: 93%;
			
			.section-header__text {
				margin: 0 auto;
			}
		}
		
		.tools-section__illustrations-mobile {
			overflow: hidden;
			width: 100%;
			
			.illustrations-mobile__list {
				
				li {
					text-align: center;
					margin: 0 7px 15px;
					padding: 20px 0 30px;
					max-width: 275px;
					width: 275px !important;
					height: 283px;
					border: 2px solid rgba(159, 185, 200, 0.7);
					border-radius: 3px;
					-webkit-box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.1);
					        box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.1);
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-ms-flex-wrap: wrap;
					    flex-wrap: wrap;
					-webkit-box-pack: center;
					    -ms-flex-pack: center;
					        justify-content: center;
					float: left;
					
					h3 {
						font-weight: 400;
						line-height: 22px;
						margin: 0 0 20px;
						font-size: 16px;
					}
					
					img {
						max-width: 100%;
						height: auto;
						-ms-flex-item-align: start;
						    align-self: flex-start;
					}
				}
			}
		}
	}
	
	.tips-section {
		padding: 60px 0 40px;
		overflow: visible;
		
		.wrap {
			width: 100%;
			overflow: hidden;
			
			.two-columns {
				width:93%;
				margin: 0 auto;
			}
		}
		
		.tips-section__tips-illustartions {
			padding: 0 0 0 5%;
			
			li {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-ms-flex-line-pack: center;
				    align-content: center;
				-webkit-box-align: center;
				    -ms-flex-align: center;
				        align-items: center;
				
				&:last-child {
					-webkit-transform: none;
					        transform: none;
				}
				
				.tips-illustartions__title {
					width: 124px;
				  -ms-flex-negative: 0;
				      flex-shrink: 0;
					-ms-flex-preferred-size: 124px !important;
					    flex-basis: 124px !important;
					font-size: 17px;
					margin: 0 30px 0 0;
				}
				
				.tips-illustartions__img {
					width: 300px !important;
					-ms-flex-preferred-size: 300px !important;
					    flex-basis: 300px !important;
					-ms-flex-negative: 0;
					    flex-shrink: 0;
				}
			}
		}
	}
	
	.about-section {
		padding: 44px 0 0px;
		
		&::after {
			content:'';
			height: 1px;
			display: block;
			width: 93%;
			margin: 0 auto;
			background: #ECECEC;
			
		}
		
		.wrap {
			-webkit-box-pack: center;
			    -ms-flex-pack: center;
			        justify-content: center;
			width: 100%;
			border:none;
		}
		.about-section__title {
			text-align: center;
			margin: 0 0 25px;
		}
		
		.about-section__video {
			margin: 0 0 20px;
		}
	}
	
	.faq-section {
		padding: 25px 0 40px;
		
		.wrap {
			-webkit-box-pack: center;
			    -ms-flex-pack: center;
			        justify-content: center;
		}
	}
	
}


