/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html, body {
  width: 100%;
  height: 100%; }

body {
  padding: 0;
  margin: 0;
  font: 16px 'Proxima Nova';
  font-weight: 400;
  font-family: 'Proxima Nova', Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background: #fff;
  color: #000; }

div, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, label, select, checkbox, input, textarea, header, section, aside, article {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
  box-sizing: border-box; }

select, input, textarea {
  font-size: 18px;
  vertical-align: middle; }

textarea {
  vertical-align: top; }

:focus {
  outline: none; }

input[type=submit] {
  cursor: pointer; }

img, fieldset {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a:link, a:visited {
  text-decoration: none !important; }

a:hover {
  text-decoration: none; }

/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r {
  float: right !important; }

.float-l {
  float: left !important; }

.no-float {
  float: none !important; }

.no-border {
  border: 0 !important; }

.no-bg {
  background: none !important; }

.no-margin {
  margin: 0 !important; }

.no-padding {
  padding: 0 !important; }

.no-display {
  display: none !important; }

.display {
  display: block !important; }

.inline {
  display: inline !important; }

.overflow {
  overflow: hidden !important; }

.align-r {
  text-align: right !important; }

.align-l {
  text-align: left !important; }

.align-c {
  text-align: center !important; }

.clear {
  clear: both; }

/*
 * SVG Processor
 * Updated version on 04/10/2017
 *
 * Basically a URL encoder to convert an SVG file string into a url(data) object for CSS.
 *
 */
/*
 * SVG=
 * Updated version on 04/10/2017
 *
 * Contains a bunch of functions with pre-built SVG files that can modified by the arguments passed.
 * Example: SVG-facebook( red ) - Outputs a red facebook logo.
 *
 * Add any additional SVG-process functions here.
 */
/*
 * CNN Header Layout
 * Updated version on 04/10/2017
 *
 */
#cnn-footer {
  background: #b59343;
  box-sizing: border-box;
  width: 100%;
  padding: 1em;
  color: #fff;
  position: relative;
  clear: both;
  text-align: center; }

#cnn-header {
  position: relative;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 10px;
  z-index: 20000000;
  color: #fff;
  line-height: 1em;
  height: 6em; }
  #cnn-header a {
    color: inherit;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 0;
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 1em 1em;
    cursor: pointer;
    font-size: 10px; }
  #cnn-header .cnn-back {
    background: #000;
    padding-left: 4em; }
    #cnn-header .cnn-back:before {
      content: '\2039';
      padding-right: .25em; }
    #cnn-header .cnn-back:after {
      content: 'CNN';
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 3em;
      height: 3em;
      background: url("data:image/svg+xml;charset=utf8,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='100px' height='100px' viewBox='0 0 100 100'%3E%3Cg%3E%3Crect fill='%23CC0000' width='100' height='100'/%3E%3Cg%3E%3Cpath fill='%23FFFFFF' d='M20.3,50c0-4.2,3.4-7.6,7.6-7.6h5.8v-4.3h-5.8C21.3,38.1,16,43.4,16,50s5.3,11.9,11.9,11.9h11.2 c0.6,0,1.1-0.6,1.1-1.1V38.7c0-1.2,0.8-2.2,1.9-2.5c1-0.2,2.3,0,3.2,1.5c0,0.1,2.8,4.8,7,12.1c3.3,5.7,6.7,11.6,6.7,11.7 c0.3,0.6,0.8,0.9,1.3,0.8c0.3-0.1,0.6-0.4,0.6-0.9V38.7c0-1.2,0.8-2.2,1.9-2.5c1-0.2,2.3,0,3.2,1.5c0,0.1,2.5,4.2,6.5,11.2 c3.5,6.1,7.2,12.4,7.3,12.5c0.3,0.6,0.8,0.9,1.3,0.8c0.3-0.1,0.6-0.4,0.6-0.9V32h-4.3v17.4c0,0-7.2-12.5-7.5-13 c-4.6-7.8-13.3-4.6-13.3,2.1v10.9c0,0-7.2-12.5-7.5-13C44.6,28.7,36,31.9,36,38.6v17.8c0,0.7-0.5,1.2-1.2,1.2h-6.8 C23.7,57.6,20.3,54.2,20.3,50z'/%3E%3Cpath fill='%23FFFFFF' d='M83.6,32v29.2c0,1.2-0.8,2.2-1.9,2.5c-0.2,0-0.4,0.1-0.7,0.1c-0.9,0-1.8-0.4-2.6-1.6c0-0.1-2.9-5-7.3-12.5 c-3.2-5.5-6.4-11.1-6.5-11.2c-0.3-0.6-0.8-0.9-1.3-0.8c-0.3,0.1-0.6,0.4-0.6,0.9v22.6c0,1.2-0.8,2.2-1.9,2.5c-1,0.2-2.3,0-3.3-1.5 c0-0.1-2.7-4.7-6.8-11.7c-3.4-5.9-6.9-12-7-12c-0.3-0.6-0.8-0.9-1.3-0.8c-0.3,0.1-0.6,0.4-0.6,0.9v22.1c0,1.5-1.3,2.9-2.9,2.9 H27.8c-7.5,0-13.7-6.1-13.7-13.7c0-7.5,6.1-13.7,13.7-13.7h5.8V32h-5.8c-9.9,0-18,8-18,18s8,18,18,18h11.3c4.3,0,7.1-2.5,7.1-7.2 V50.5c0,0,7.2,12.5,7.5,13c4.6,7.8,13.2,4.6,13.2-2.1V50.5c0,0,7.2,12.5,7.5,13c4.6,7.8,13.2,4.6,13.2-2.1V32H83.6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat 0 0;
      background-size: 100% 100%;
      z-index: 500000000;
      color: transparent; }
    #cnn-header .cnn-back.money {
      background: #0666a7; }
      #cnn-header .cnn-back.money:after {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='100px' height='100px' viewBox='0 0 100 100'%3E%3Cg%3E%3Crect fill='%23FFFFFF' width='100' height='100'/%3E%3Cg%3E%3Cpath fill='%230666a7' d='M20.3,50c0-4.2,3.4-7.6,7.6-7.6h5.8v-4.3h-5.8C21.3,38.1,16,43.4,16,50s5.3,11.9,11.9,11.9h11.2 c0.6,0,1.1-0.6,1.1-1.1V38.7c0-1.2,0.8-2.2,1.9-2.5c1-0.2,2.3,0,3.2,1.5c0,0.1,2.8,4.8,7,12.1c3.3,5.7,6.7,11.6,6.7,11.7 c0.3,0.6,0.8,0.9,1.3,0.8c0.3-0.1,0.6-0.4,0.6-0.9V38.7c0-1.2,0.8-2.2,1.9-2.5c1-0.2,2.3,0,3.2,1.5c0,0.1,2.5,4.2,6.5,11.2 c3.5,6.1,7.2,12.4,7.3,12.5c0.3,0.6,0.8,0.9,1.3,0.8c0.3-0.1,0.6-0.4,0.6-0.9V32h-4.3v17.4c0,0-7.2-12.5-7.5-13 c-4.6-7.8-13.3-4.6-13.3,2.1v10.9c0,0-7.2-12.5-7.5-13C44.6,28.7,36,31.9,36,38.6v17.8c0,0.7-0.5,1.2-1.2,1.2h-6.8 C23.7,57.6,20.3,54.2,20.3,50z'/%3E%3Cpath fill='%230666a7' d='M83.6,32v29.2c0,1.2-0.8,2.2-1.9,2.5c-0.2,0-0.4,0.1-0.7,0.1c-0.9,0-1.8-0.4-2.6-1.6c0-0.1-2.9-5-7.3-12.5 c-3.2-5.5-6.4-11.1-6.5-11.2c-0.3-0.6-0.8-0.9-1.3-0.8c-0.3,0.1-0.6,0.4-0.6,0.9v22.6c0,1.2-0.8,2.2-1.9,2.5c-1,0.2-2.3,0-3.3-1.5 c0-0.1-2.7-4.7-6.8-11.7c-3.4-5.9-6.9-12-7-12c-0.3-0.6-0.8-0.9-1.3-0.8c-0.3,0.1-0.6,0.4-0.6,0.9v22.1c0,1.5-1.3,2.9-2.9,2.9 H27.8c-7.5,0-13.7-6.1-13.7-13.7c0-7.5,6.1-13.7,13.7-13.7h5.8V32h-5.8c-9.9,0-18,8-18,18s8,18,18,18h11.3c4.3,0,7.1-2.5,7.1-7.2 V50.5c0,0,7.2,12.5,7.5,13c4.6,7.8,13.2,4.6,13.2-2.1V50.5c0,0,7.2,12.5,7.5,13c4.6,7.8,13.2,4.6,13.2-2.1V32H83.6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }
  #cnn-header .cnn-sponsor {
    background: #b59343;
    background-size: auto 100%;
    background-position: -4em 0;
    transition: background-position .4s, padding .4s; }
    #cnn-header .cnn-sponsor img {
      display: inline-block;
      height: 1em;
      width: auto;
      vertical-align: middle; }
  #cnn-header.fixed .cnn-sponsor {
    position: fixed;
    top: 0;
    left: 0;
    background-position: 0 0;
    padding-left: 4em;
    z-index: 5; }
  #cnn-header .cnn-menu {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    max-width: 200px;
    overflow: hidden;
    max-height: 3em;
    transition: max-height .4s;
    z-index: 12; }
    #cnn-header .cnn-menu a {
      margin-bottom: 1px;
      background: url("data:image/svg+xml;charset=utf8,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='1px' height='1px' viewBox='0 0 1 1' preserveAspectRatio='none'%3E%3Crect x='0' y='0' width='1' height='1' fill='#dd0300' /%3E%3C/svg%3E") no-repeat 100% 0;
      background-size: 0 100%;
      background-color: #000;
      transition: background-size .4s, padding-right .4s, transform .4s, opacity .4s;
      text-align: right;
      transform: translateX(2em);
      opacity: 0; }
      #cnn-header .cnn-menu a:hover {
        background-size: 1em 100%;
        padding-right: 2em; }
      #cnn-header .cnn-menu a[href="#"] {
        line-height: 1.2em;
        text-align: left;
        background-image: none; }
      #cnn-header .cnn-menu a:nth-child(11n-1) {
        transition-delay: 0s, 0s, 0.45s, 0.45s; }
      #cnn-header .cnn-menu a:nth-child(11n-2) {
        transition-delay: 0s, 0s, 0.4s, 0.4s; }
      #cnn-header .cnn-menu a:nth-child(11n-3) {
        transition-delay: 0s, 0s, 0.35s, 0.35s; }
      #cnn-header .cnn-menu a:nth-child(11n-4) {
        transition-delay: 0s, 0s, 0.3s, 0.3s; }
      #cnn-header .cnn-menu a:nth-child(11n-5) {
        transition-delay: 0s, 0s, 0.25s, 0.25s; }
      #cnn-header .cnn-menu a:nth-child(11n-6) {
        transition-delay: 0s, 0s, 0.2s, 0.2s; }
      #cnn-header .cnn-menu a:nth-child(11n-7) {
        transition-delay: 0s, 0s, 0.15s, 0.15s; }
      #cnn-header .cnn-menu a:nth-child(11n-8) {
        transition-delay: 0s, 0s, 0.1s, 0.1s; }
      #cnn-header .cnn-menu a:nth-child(11n-9) {
        transition-delay: 0s, 0s, 0.05s, 0.05s; }
      #cnn-header .cnn-menu a:nth-child(11n-10) {
        transition-delay: 0s, 0s, 0s, 0s; }
    #cnn-header .cnn-menu:before {
      display: block;
      width: 100%;
      height: 3em;
      content: 'menu';
      color: transparent;
      background: url("data:image/svg+xml;charset=utf8,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='40px' height='40px' viewBox='0 0 7 5'%3E%3Cline x1='1' y1='1' x2='6' y2='1' stroke='%23fff' stroke-width='.5' /%3E%3Cline x1='1' y1='2.5' x2='6' y2='2.5' stroke='%23fff' stroke-width='.5' /%3E%3Cline x1='1' y1='4' x2='6' y2='4' stroke='%23fff' stroke-width='.5' /%3E%3C/svg%3E") 100% 0 no-repeat;
      background-size: 2em auto;
      background-position: right .5em top .5em; }
    #cnn-header .cnn-menu.active {
      max-height: 350px;
      /* 			max-height: 50vh; */
      overflow: auto; }
      #cnn-header .cnn-menu.active a {
        transform: translateX(0em);
        opacity: 1; }

body {
  font-size: 16px;
  line-height: 1.6;
  color: #ffffff;
  font-family: 'Montserrat'; }

.color-orange {
  color: #e7931b; }

strong {
  font-weight: 700; }

.header {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 3% 0;
  z-index: 10; }

.accenture-logo {
  font-size: 9px;
  text-transform: uppercase;
  /* 	vertical-align: middle; */
  color: white; }
  .accenture-logo img {
    vertical-align: bottom;
    margin: 0 0 0 6px; }

.menu-toggle-btn {
  width: 48px;
  height: 48px;
  background: url(../images/manu-toggle.jpg) no-repeat center center;
  border-radius: 50%;
  border: 0;
  cursor: pointer; }
  .menu-toggle-btn--article2 {
    background: url(../images/article2/menu-toggle.jpg) no-repeat center center; }

a {
  display: inline-block; }

.menu {
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  background: #e9c431;
  color: black;
  text-align: center;
  /* 	padding: 10vh 0; */
  /* 	overflow-y: scroll; */
  overflow: hidden;
  z-index: 99999999;
  transform: translateX(-50%) scale(1);
  transition: 0.5s;
  /* 	opacity: 0; */
  width: 0; }
  .menu.active {
    /* 		transform: translateY(0%) scale(1); */
    opacity: 1;
    width: 100%; }
  .menu__logo {
    width: 26vh;
    display: inline-block;
    margin: 0 0 4vh; }
    .menu__logo img {
      vertical-align: bottom;
      width: 100%;
      height: auto; }
  .menu__copy {
    width: 800px;
    margin: 0 auto 10vh; }
  .menu__container {
    margin: 50px 0 50px;
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%); }
  .menu__content {
    display: flex; }
  .menu__illustration {
    width: 50%;
    position: relative; }
    .menu__illustration::before {
      content: '';
      position: absolute;
      height: 110%;
      width: 100%;
      background: url("../images/menu-illustartion.png") no-repeat right top/auto 100%;
      bottom: 0;
      right: 50px; }
  .menu__articles article {
    text-align: left;
    width: 380px; }
    .menu__articles article h1 {
      font-size: 25px;
      text-transform: uppercase;
      font-weight: 800;
      line-height: 1.2;
      margin: 0 0 5px;
      display: flex;
      align-items: flex-end; }
      .menu__articles article h1::before {
        content: "01";
        font-weight: 100;
        font-size: 53px;
        /* 					float: left; */
        margin: 0 5px 0 0;
        line-height: 0.9; }
    .menu__articles article p {
      font-size: 14px; }
    .menu__articles article.menu__AI-article h1, .menu__articles article.menu__AI-article .menu__read-more-link {
      color: #18817c;
      align-items: center; }
    .menu__articles article.menu__cyber-article h1, .menu__articles article.menu__cyber-article .menu__read-more-link {
      color: #dd5925;
      /* 					align-items: center; */ }
    .menu__articles article.menu__cyber-article h1::before {
      content: '02'; }
  .menu__AI-article {
    margin: 0 0 10vh; }
  .menu .menu__read-more-link {
    font-size: 18px;
    font-weight: 700;
    text-decoration: underline !important;
    margin: 6px 0 0; }

.close-menu {
  position: absolute;
  right: 20px;
  top: -20px;
  z-index: 30;
  cursor: pointer;
  background-image: url(../images/menu-close.jpg); }

.hero {
  background: url(../images/hero-bg.jpg) no-repeat center top/100% auto;
  /* 	height: 100%; */
  padding: 50px 0 0; }
  .hero.hero--article2 {
    background: url(../images/article2/hero-bg.jpg) no-repeat center top/cover;
    position: relative; }
    .hero.hero--article2 h1 {
      background: url(../images/article2/hero-title.svg) no-repeat center top/100% auto; }
    .hero.hero--article2 .hero__text {
      margin: 8vw 0 0;
      padding: 0 0 30vw; }
    .hero.hero--article2::after {
      content: '';
      width: 100%;
      height: 40vw;
      position: absolute;
      bottom: 0;
      left: 0;
      background: url(../images/article2/hero-corner-bg.png) no-repeat right top/40% auto; }
  .hero h1 {
    font-size: 0;
    width: 76vw;
    padding: 50vw 0 0;
    background: url(../images/hero.svg) no-repeat center top/100% auto;
    margin: 0 0 0 calc((100% - 1000px) / 2);
    position: relative;
    /* 		&::after {
    			content: 'CYBER';
    			font-size: 124px;
    			font-weight: 800;
    			position: absolute;
    			top:100px;
    		} */ }
    .hero h1::after {
      content: '';
      width: 8px;
      height: 30px;
      position: absolute;
      top: 100%;
      left: 0px;
      background: url(../images/scroll.png) no-repeat center center/100% auto; }
  .hero__text {
    margin: 13vw 0 0;
    padding: 0 0 23vw; }
    .hero__text strong {
      color: #fff445; }
  .hero__guy {
    position: absolute;
    width: 18.5%;
    height: 270%;
    background: url(../images/hero-guy.png) no-repeat center top/100% auto;
    z-index: 20;
    top: 39%;
    left: 58.5%; }

.container {
  width: 1000px;
  margin: 0 auto; }
  .container-small {
    width: 400px; }
  .container-medium {
    width: 600px; }
  .container-center {
    margin: 0 auto; }

.text p:not(:last-of-type) {
  margin: 0 0 30px; }

.title-big {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 1.15;
  margin: 0 0 30px; }

.intro {
  margin: -29% 0 0;
  position: relative;
  z-index: 3; }
  .intro.intro--article2 {
    margin: -40% 0 0; }
    .intro.intro--article2 .intro__illustration {
      background: url("../images/article2/intro-illustration.png") no-repeat right top/95% auto;
      padding: 58% 0 0; }
  .intro__illustration {
    width: 100%;
    padding: 50% 0 0;
    background: url("../images/intro-illustration.png") no-repeat center top/100% auto;
    position: relative; }

.points__point {
  width: 30px;
  height: 30px;
  position: absolute;
  background: #e9650f;
  border-radius: 50%;
  box-shadow: 0 0 0 12px rgba(233, 101, 15, 0.3);
  animation: pulse 1s 0s infinite;
  cursor: pointer; }
.points__point1 {
  left: 35.5%;
  top: 50%; }
.points__point2 {
  left: 62%;
  top: 18%;
  animation-delay: 0.5s; }
.points__point3 {
  left: 14%;
  top: 57%; }
.points .points__textbox3 {
  left: 17%;
  top: 62%; }
.points__point4 {
  left: 40%;
  top: 61%;
  animation-delay: 0.5s; }
.points .points__textbox4 {
  left: 45%;
  top: 58%; }
.points__point5 {
  left: 62%;
  top: 43%; }
.points .points__textbox5 {
  left: auto;
  right: 43%;
  top: 21%; }
.points__point6 {
  left: 82.5%;
  top: 8%;
  animation-delay: 0.5s; }
.points .points__textbox6 {
  left: auto;
  right: 21%;
  top: 0%; }
.points__point7 {
  left: 82.5%;
  top: 77%;
  animation-delay: 0.5s; }
.points .points__textbox7 {
  left: auto;
  right: 19%;
  top: 66%; }
.points__point8 {
  left: 10%;
  top: 57%;
  animation-delay: 0.5s; }
.points .points__textbox8 {
  /* 		left:auto; */
  left: 17%;
  top: 61%; }
.points__point9 {
  left: 36.5%;
  top: 20.5%;
  animation-delay: 0.5s; }
.points .points__textbox9 {
  /* 		left:auto; */
  left: 22%;
  top: 34%; }
.points__point10 {
  left: 60%;
  top: 15%;
  animation-delay: 0.5s; }
.points .points__textbox10 {
  /* 		left:auto; */
  left: 56%;
  top: 29%; }
.points__textbox {
  position: absolute;
  font-size: 14px;
  color: black;
  background: rgba(255, 255, 255, 0.9);
  padding: 10px 12px;
  width: 260px;
  transition: 0.3s cubic-bezier(0, 0.59, 0.375, 1);
  font-weight: 500;
  opacity: 0;
  transform: scale(0.85); }
  .points__textbox.active {
    opacity: 1;
    transform: scale(1); }
.points__textbox1 {
  left: 28%;
  top: 57.5%; }
.points__textbox2 {
  left: 67%;
  top: 9%; }

@keyframes pulse {
  0% {
    transform: scale(0.9); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(0.9); } }
.text-green {
  color: #0a8b81; }

.case-study {
  background: #6b3b80;
  margin: -21% 0 0;
  padding: 26% 0 0;
  position: relative; }
  .case-study .jagged-graphics {
    position: absolute;
    width: 100%;
    height: 500px;
    background: url(../images/jagged1.png) no-repeat center top/100% auto;
    top: -200px; }
  .case-study__jagged {
    position: relative;
    top: -100px; }

.gov-direction {
  background: #f1c411;
  color: black;
  font-weight: 500;
  padding-bottom: 100px; }
  .gov-direction .jagged-graphics {
    background-image: url(../images/article2/jagged1.png);
    top: -300px; }

.icons {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  margin: 50px 0 70px; }
  .icons li {
    width: 235px;
    margin: 0 60px; }
    .icons li span {
      width: 230px;
      height: 230px;
      display: inline-block;
      background: url("../images/article2/icon1.svg") no-repeat center center;
      margin: 0 0 10px; }
    .icons li:nth-of-type(2) span {
      background-image: url("../images/article2/icon2.svg"); }
    .icons li:nth-of-type(3) span {
      background-image: url("../images/article2/icon3.svg"); }

.title-small {
  text-transform: uppercase;
  font-size: 19px;
  font-weight: 700; }

.charts {
  margin: 90px 0 70px;
  text-align: center; }

.switcher {
  text-transform: uppercase;
  font-size: 19px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.4);
  margin: 5px 0 0; }
  .switcher span {
    vertical-align: middle;
    transition: color 0.3s; }
  .switcher__toggler {
    display: inline-block;
    width: 70px;
    height: 25px;
    background: #1a857d;
    border-radius: 12.5px;
    position: relative;
    cursor: pointer;
    margin: 0 5px; }
    .switcher__toggler::before {
      content: '';
      position: absolute;
      width: 19px;
      height: 19px;
      background: white;
      top: 3px;
      left: 3px;
      border-radius: 50%;
      transition: 0.3s; }
  .switcher__global {
    color: #1a857d; }
  .switcher.active .switcher__toggler::before {
    left: 48px; }
  .switcher.active .switcher__global {
    color: rgba(0, 0, 0, 0.4); }
  .switcher.active .switcher__india {
    color: #1a857d; }
  .switcher__options {
    transform: scale(0.9);
    position: relative;
    margin: 30px 0 0; }
    .switcher__options img {
      transition: 0.4s cubic-bezier(0, 0.59, 0.375, 1);
      max-width: 100%; }
    .switcher__options img:nth-of-type(2) {
      position: absolute;
      left: 50%;
      top: 0%;
      transform: translate(-40%, -6%);
      opacity: 0; }
    .switcher__options.active img:nth-of-type(1) {
      opacity: 0;
      transform: translateX(90px); }
    .switcher__options.active img:nth-of-type(2) {
      opacity: 1;
      transform: translate(-50%, -6%); }

.professionals {
  text-align: center;
  margin: 80px 0; }
  .professionals .title-small {
    margin: 0 0 30px; }
  .professionals__chart {
    position: relative;
    display: inline-block; }
    .professionals__chart .points__textbox {
      width: 240px;
      text-align: left; }

.education {
  background: url(../images/article2/education-bg.png) no-repeat center center/cover;
  padding: 100px 0 36vw;
  position: relative; }
  .education::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    background: url(../images/article2/education-illustration.png) no-repeat top right/50% auto; }
  .education .title-big {
    color: #f8ce02; }

.business {
  background: #f6c810;
  padding: 80px 0 150px;
  color: black;
  position: relative;
  z-index: 1; }
  .business .smart-ways__jagged {
    background-image: url(../images/article2/jagged2.png); }
  .business .color-orange {
    color: #e1721f; }

.business-items-counter {
  font-size: 40px;
  font-weight: 100;
  line-height: 1;
  font-style: italic; }
  .business-items-counter__current {
    font-weight: 500; }

.business-items {
  position: relative; }
  .business-items .title-big {
    margin: 0; }
  .business-items__box {
    margin: 30px 0 0;
    padding: 25px;
    background: white; }
  .business-items li {
    opacity: 0;
    transition: 0.3s; }
    .business-items li:not(.business-items__base) {
      position: absolute;
      top: 0;
      left: 0; }
    .business-items li.active {
      opacity: 1; }

.graph {
  text-align: center;
  padding: 100px 0 0;
  margin: 0 0 90px; }
  .graph__title {
    text-transform: uppercase;
    font-size: 19px;
    margin: 0 0 40px; }
  .graph__placeholder {
    width: 100%;
    height: auto; }

.case-study-map {
  background: url(../images/map-placeholder-nodots.jpg) no-repeat center top/100% auto;
  padding: 100px 0 0;
  margin: 100px 0 0;
  min-height: 55vw;
  position: relative; }
  .case-study-map__note {
    font-size: 11px;
    margin: 30px 0 40px; }
  .case-study-map__hover {
    font-size: 14px;
    font-weight: 700; }
    .case-study-map__hover::before {
      content: '';
      width: 42px;
      height: 42px;
      display: inline-block;
      background: url(../images/hotspot.svg) no-repeat center center/100% auto;
      vertical-align: middle;
      margin: 0 10px 0 0; }
  .case-study-map__dots-svg {
    position: absolute;
    top: 28%;
    left: 53.9%;
    width: 21%;
    height: auto; }
    .case-study-map__dots-svg circle {
      opacity: 0;
      transition: 0.2s;
      /* 			transform: scale(0.5); */ }
    .case-study-map__dots-svg.active circle {
      opacity: 1;
      /* 			 transform: scale(1); */ }
  .case-study-map__hotspots-svg {
    position: absolute;
    top: 33.6%;
    left: 51.6%;
    width: 17.7%;
    height: auto; }
    .case-study-map__hotspots-svg circle {
      cursor: pointer; }
  .case-study-map__hotspot-texts {
    position: relative;
    width: 520px;
    margin: 60px 0 0; }
    .case-study-map__hotspot-texts li {
      color: black;
      position: absolute;
      top: 0;
      width: 100%;
      opacity: 0;
      transition: 0.3s;
      transform: translateY(-50%); }
      .case-study-map__hotspot-texts li.active {
        opacity: 1; }
      .case-study-map__hotspot-texts li p {
        background: white;
        padding: 10px;
        border-left: 10px solid transparent; }
      .case-study-map__hotspot-texts li:nth-of-type(1) p {
        border-color: #90cd63; }
      .case-study-map__hotspot-texts li:nth-of-type(2) p {
        border-color: #fadb37; }
      .case-study-map__hotspot-texts li:nth-of-type(3) p {
        border-color: #31c3ad; }
      .case-study-map__hotspot-texts li:nth-of-type(4) p {
        border-color: #1a8035; }
      .case-study-map__hotspot-texts li:nth-of-type(5) p {
        border-color: #015af5; }
      .case-study-map__hotspot-texts li:nth-of-type(6) p {
        border-color: #f18d05; }
      .case-study-map__hotspot-texts li:nth-of-type(7) p {
        border-color: #ef7379; }
      .case-study-map__hotspot-texts li:nth-of-type(8) p {
        border-color: #e43d1f; }

.risks {
  background: url("../images/risks.jpg") no-repeat center top/100% auto;
  padding: 100px 0 190px;
  color: black; }
  .risks .title-big {
    color: #6b3b80; }
  .risks__risk {
    margin: 0 0 85px; }
    .risks__risk h1 {
      text-transform: uppercase;
      font-size: 20px;
      margin: 0 0 5px; }
  .risks__box {
    background: #ffe69d;
    padding: 20px 28px 17px 28px;
    margin: 40px 0 0;
    position: relative;
    z-index: 1; }
    .risks__box::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border: 1px solid #ffe69d;
      top: 9px;
      left: 9px;
      z-index: -1; }
    .risks__box h2 {
      font-size: 19px;
      text-transform: uppercase;
      margin: 0 0 10px; }
      .risks__box h2::before {
        content: '';
        width: 58px;
        height: 48px;
        vertical-align: middle;
        display: inline-block;
        margin: 0 10px 0 0; }
    .risks__box p {
      margin: 0 0 20px; }
    .risks__box .hidden-content {
      display: none; }
    .risks__box .short {
      width: 60px;
      overflow: hidden;
      display: inline-block;
      text-overflow: ellipsis;
      white-space: nowrap;
      vertical-align: bottom; }
    .risks__box.active .short {
      width: auto; }
  .risks__petya-icon::before {
    background: url(../images/petya-icon.png) no-repeat center center; }
  .risks__wannacry-icon::before {
    background: url(../images/wannacry-icon.png) no-repeat center center; }
  .risks__cosmos-icon::before {
    background: url(../images/cosmos-icon.png) no-repeat center center; }
  .risks__box-read-more {
    border-top: 1px solid #e7931b;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    padding: 17px 0 0;
    margin: 20px 0 0; }
    .risks__box-read-more::after {
      content: '';
      width: 26px;
      height: 26px;
      display: inline-block;
      background: url(../images/arrow-down.png) no-repeat center center;
      vertical-align: middle;
      margin: -3px 0 0 5px; }
    .risks__box-read-more.active::after {
      transform: rotate(180deg); }
  .risks__chart {
    background: url(../images/chart-bg.png) no-repeat center center/cover;
    padding: 90px 0;
    text-align: center; }
    .risks__chart h2 {
      color: black;
      text-transform: uppercase;
      font-size: 19px;
      font-weight: 400;
      margin: 0 0 40px; }
  .risks__outro-copy {
    padding: 90px 0 0; }

.smart-ways {
  background: #653e76;
  padding: 80px 0;
  position: relative;
  z-index: 1; }
  .smart-ways__jagged {
    position: absolute;
    width: 100%;
    height: 600px;
    background: url("../images/jagged2.png") no-repeat center top/100% auto;
    top: -350px;
    z-index: -1; }
  .smart-ways__list {
    padding: 0 0 0 185px;
    margin: 40px 0 0;
    background: url(../images/smart-ways-icon.svg) no-repeat left top; }
    .smart-ways__list li {
      padding: 49px 0; }

.outro {
  /* 	background: #d67107; */
  background: #653e76;
  padding: 200px 0 100px 45%;
  position: relative;
  z-index: 1; }
  .outro.outro--article2 {
    background: #f6c810; }
    .outro.outro--article2 .outro__jagged {
      background: url("../images/article2/jagged3.png") no-repeat center bottom/100% auto; }
    .outro.outro--article2::after {
      background: #0d6c70;
      height: 150px; }
  .outro::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100px;
    background: #d87408;
    bottom: 0;
    left: 0;
    z-index: -2; }
  .outro__jagged {
    position: absolute;
    width: 100%;
    height: 54vw;
    background: url("../images/jagged3.png") no-repeat center bottom/100% auto;
    left: 0;
    bottom: 30px;
    z-index: -1; }

.footer {
  position: relative;
  z-index: 3; }
  .footer.footer--article2 .footer__source {
    background: #279c89;
    color: #075256; }
  .footer.footer--article2 .next-article {
    background: #279091 url(../images/article2/next-article-bg.png) no-repeat center top/cover; }
  .footer__source {
    background: #e8ac1c;
    color: #b73800;
    text-align: center;
    font-weight: 300;
    padding: 50px 0; }
  .footer__find-out-more {
    background: #d2d2d2;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .footer__logo {
    color: black; }
  .footer .footer__find-more-link {
    font-size: 22px;
    color: #353535;
    text-decoration: underline !important; }

.next-article {
  background: #279091 url(../images/next-article-bg.svg) no-repeat center top/auto 100%;
  padding: 100px 0;
  font-size: 18px; }
  .next-article__container {
    width: 500px; }
  .next-article__next {
    text-transform: uppercase;
    letter-spacing: 2px; }
  .next-article p {
    margin: -20px 0 20px; }
  .next-article .next-article__link {
    text-decoration: underline !important;
    color: white;
    font-weight: 700; }

/** Share **/
.footer_btm {
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 1020; }

.scroll-top {
  opacity: 0.7;
  background: white;
  display: inline-block;
  vertical-align: middle;
  color: #000;
  font-size: 25px;
  line-height: 35px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  text-align: center;
  margin-right: 10px;
  border-radius: 50%;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transition: all 0.5s;
  border: 1px solid #000; }
  .scroll-top:hover {
    opacity: 1; }

.share-block {
  display: inline-block;
  vertical-align: middle;
  position: relative; }
  .share-block .share-click-ico {
    opacity: 0.7;
    background: white;
    display: block;
    font-size: 16px;
    line-height: 40px;
    width: 40px;
    height: 40px;
    text-align: center;
    color: #000;
    cursor: pointer;
    border-radius: 50%;
    transition: all .5s;
    -webkit-transition: all 0.5s;
    border: 1px solid #000; }
    .share-block .share-click-ico:hover {
      opacity: 1; }

.foot-social {
  display: none;
  vertical-align: middle;
  position: absolute;
  bottom: 60px;
  left: 0; }
  .foot-social li {
    display: block;
    vertical-align: top;
    margin: 15px 0 0;
    opacity: 0;
    animation: social 800ms forwards; }
    .foot-social li + li {
      animation-delay: 200ms; }
      .foot-social li + li + li {
        animation-delay: 400ms; }
        .foot-social li + li + li + li {
          animation-delay: 600ms; }
    .foot-social li:last-child {
      margin-right: 0; }
    .foot-social li a {
      background: white;
      color: #000;
      font-size: 20px;
      line-height: 40px;
      display: block;
      width: 40px;
      height: 40px;
      text-align: center;
      border-radius: 50%;
      position: relative;
      opacity: .7;
      transition: .2s; }
      .foot-social li a:hover {
        opacity: 1;
        transition: .2s; }
      .foot-social li a:after {
        content: "";
        width: 0;
        height: 0;
        -webkit-box-shadow: 0 0 1px 1px black;
        box-shadow: 0 0 1px 1px black;
        opacity: 0;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        transition: all .5s;
        -webkit-transition: all 0.5s; }
      @media (min-width: 1024px) {
        .foot-social li a:hover:after {
          width: 100%;
          height: 100%;
          opacity: 1;
          border-radius: 50%; } }

@-webkit-keyframes social {
  0% {
    opacity: 0;
    transform: translate(-50px, 0); }
  100% {
    opacity: 1;
    transform: translate(0, 0); } }
@keyframes social {
  0% {
    opacity: 0;
    transform: translate(-50px, 0); }
  100% {
    opacity: 1;
    transform: translate(0, 0); } }
@media (max-width: 1350px) {
  .content-container {
    width: 90%; }

  .masthead__header {
    width: 555px; }
    .masthead__header h1 {
      font-size: 60px; }
    .masthead__header p {
      font-size: 19px; }

  .audio__player {
    bottom: 7px; }

  .mejs__time-handle {
    height: 50px;
    top: 5px; } }
@media (max-width: 1023px) {
  .audio__player {
    transform: scale(0.8) translateX(-60%);
    bottom: 7px;
    /* 		transform-origin: center center; */ }

  .masthead {
    background: transparent; }
    .masthead__hero span {
      position: fixed;
      width: 90%;
      left: 5%;
      top: 100px;
      z-index: -1;
      transition: 0.05s linear; }
    .masthead__hero--fixed span {
      transform: translateY(-40px); }
    .masthead .text {
      background: white; }
      .masthead .text p {
        margin: 0;
        padding: 30px 0; }

  .bg-white {
    background: white; }

  .layout-text-illustr {
    flex-wrap: wrap; }
    .layout-text-illustr__text {
      width: 100%;
      margin: 0 0 30px; }
    .layout-text-illustr__illustr {
      width: 100%;
      margin: 0; }

  .nec-footer__logo {
    top: 60px; }

  .slick-arrow {
    top: 20%; } }
@media (max-width: 767px) {
  body {
    font-size: 16px; }

  .text {
    width: 100%; }

  .title-big {
    font-size: 35px; }

  .text-note {
    font-size: 18px;
    margin: 0 0 30px !important; }

  body .border {
    width: 5px; }

  .navbar .content-container {
    height: 46px; }
  .navbar__back-to-top {
    display: none; }
  .navbar__nec-logo {
    width: 60px; }

  .social__text {
    font-size: 16px;
    margin: 8px 0 0; }
  .social__list li a {
    width: 30px;
    height: 30px; }
  .social__list li i {
    line-height: 30px;
    font-size: 21px; }
  .social:hover .social__list {
    transform: translateY(-20%); }

  .masthead {
    padding-top: 46px; }

  section {
    /* 		background: white; */ }

  .masthead__header {
    padding: 0 0 0 0%;
    width: auto;
    top: 70px; }
    .masthead__header h1 {
      font-size: 30px;
      padding: 15px 17px;
      background: transparent; }
    .masthead__header p {
      display: none; }

  .tiles {
    margin: 30px 0 10px; }
    .tiles__swipe {
      display: block;
      text-align: right;
      font-weight: 600;
      font-size: 14px;
      margin: 0 0 8px; }
    .tiles__arrows, .tiles__absolute {
      display: none; }

  .side-video {
    flex-wrap: wrap; }

  .tiles-list li img {
    max-height: inherit; }

  .slick-slide {
    width: 70vw;
    margin-left: 7vw; }

  .slick-list {
    margin-left: 0; }

  .slick-arrow {
    top: 30%;
    left: 15px;
    display: none !important; }

  .audio__player {
    width: 90%;
    transform: translateX(-50%);
    bottom: 5vw; }

  .mejs__time-rail {
    background-size: 100% 70%; }

  .nec-footer__logo {
    top: 95px; }

  .city-graphics-mobile {
    display: block; }

  .city-graph-illustration {
    display: none; }

  .city-graphics-mobile .tiles__swipe {
    margin: 0 0 20px; }

  .city-graphics-mobile__images .slick-track {
    background: url(../images/city-graphics-mobile.jpg) no-repeat 5vw top/100% auto; }
  .city-graphics-mobile__images .slick-slide {
    text-align: center;
    padding: 0 0 10%;
    margin-left: 8vw; }
    .city-graphics-mobile__images .slick-slide img {
      width: auto !important;
      height: 160vw !important;
      opacity: 0; }
  .city-graphics-mobile__images .slick-list {
    margin-left: -13.5vw;
    margin-right: -5vw; }

  .collab-graphs {
    margin: 50px 0 0; }
    .collab-graphs .layout-text-illustr__text {
      margin: 0; }
    .collab-graphs__texts li {
      opacity: 1; }
      .collab-graphs__texts li strong {
        display: block; }
      .collab-graphs__texts li *:not(img) {
        padding: 0 3% 0 0; }
      .collab-graphs__texts li img, .collab-graphs__texts li .illustration__source {
        display: initial;
        display: block; }
      .collab-graphs__texts li img {
        transform: scale(0.95);
        transform-origin: left center;
        margin: 0 0 10px; }
      .collab-graphs__texts li .illustration__source {
        margin: 0 0 10px; }
    .collab-graphs__texts .slick-slide {
      margin-left: 0; }
    .collab-graphs__count {
      display: none; }
    .collab-graphs .layout-text-illustr__illustr {
      display: none; }

  .nec-footer {
    text-align: center;
    overflow: hidden; }
    .nec-footer .title-big {
      border: 0;
      margin: 0 0 10px;
      text-align: left; }
    .nec-footer__logo {
      display: none; }
    .nec-footer::after {
      content: '';
      display: block;
      float: right;
      width: 260px;
      height: 17px;
      background: url(../images/statement-logo.svg) no-repeat center center/auto 100%;
      margin: 30px 0 0; }

  .button {
    width: 90%;
    font-size: 16px;
    border-radius: 10px;
    padding: 11px 42px; }

  .cnn-footer {
    margin: 50px 0 0; }

  #side-video__video {
    display: none; }

  .side-video__video {
    margin: 0;
    width: 100%; }
  .side-video__mobile-video {
    width: 100%; } }
@media (min-width: 768px) {
  .side-video__mobile-video {
    display: none; } }

@media (max-width: 450px) {
  .city-graphics-mobile__images .slick-track {
    background: url(../images/city-graphics-mobile.jpg) no-repeat 26vw top/auto 100%; }

  .city-graphics-mobile__images .slick-slide {
    padding: 0;
    opacity: 0;
    width: 64vw; }

  .city-graphics-mobile__images .slick-slide img {
    height: 135vw !important;
    opacity: 0; } }

/*# sourceMappingURL=style.css.map */
