
.graph #content{
        padding: 0 0 80px;
}

.graph__title {
    text-align: center;
}

#stats_graph {
    background-color: transparent;
    position: relative;
    padding-bottom: 120px;
}

#stats_graph #stats_graph_header{
    display: block;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

#stats_graph #stats_graph_header h2 { color: #ffffff; font-size: 22px; }
#stats_graph #stats_graph_header h3 { color: #848484; font-size: 14px; }

#stats_graph #graph {
    display: block;
    top: 100px;
    left: 0;
    width: 100%;
}

#most_infected {
    display: block;
    width: 100%;
    background-color: #000000;
}

#most_infected h2 {
    color: #ffffff;
    font-size: 22px;
    text-align: center;
    padding: 20px 0;
}

#most_infected #most_infected_description{
    display: block;
    width: 100%;
    background-color: #000000;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    color: #727272;
}

#most_infected #most_infected_links {
    display: block;
    width: 100%;
    top: 0;
    left: 0;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-top: 1px solid #313131;
}

#most_infected #most_infected_links li {
    display: block;
    float: none;
    clear: both;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #313131;
}

#most_infected #most_infected_links li a {
    display: block;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    width: auto;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0 auto;
}

#most_infected #most_infected_links li:hover {
    background-color: #006d55;
}

#most_infected #most_infected_links li a span {
    height: 50px;
    line-height: 50px;
    color: #629c7f;
}
#most_infected #most_infected_links li a:hover span {
    color: #FFFFFF;
}

#most_infected #most_infected_links li a span.num {
    margin-right: 10px;
}
#most_infected #most_infected_links li a span.info {
    float: right;
}

@media (max-width: 767px) {
    #most_infected #most_infected_links li a span.info {
        display: none;
    }
}


#world_stats .panel_header {
    display: block;
    width: 100%;
    text-align: center;

}
#world_stats h2.panel_header
{
    color: #ffffff;
    font-size: 22px;
    padding-bottom: 30px;
}

#world_stats h3.panel_header
{
    color: #848484;
    font-size: 14px;
    padding-top: 30px;
    border-top: 1px solid #006d55;
}

#world_stats_controls {
    display: block;
    width: 100%;
    background-color: #19241E;
}

#world_stats #world_stats_controls .leftcolumn {
    width: 48%;
    text-align: right;
    display: inline-block;
    border: none;
    margin: 0;
}

#world_stats #world_stats_controls .rightcolumn {
    width: 48%;
    text-align: left;
    display: inline-block;
    border: none;
    margin: 0;
    left: 20px;
}

.select_stats_control {
    background-color: #19241E;
    border: 1px solid #333333;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    -moz-appearance:none; /* Firefox */
}

#world_stats_time_period_week {
    margin: 10px 5px 20px 10px;
    line-height: 30px;
}

#world_stats_time_period_month {
    margin: 10px 5px 20px 10px;
    line-height: 30px;
}

@media (max-width: 767px) {
    #world_stats_controls span {
        display: none;
    }
}

@media (max-width: 480px) {
    #world_stats #world_stats_controls .rightcolumn {
        width: 100%;
        text-align: center;
    }

    #world_stats #world_stats_controls .leftcolumn {
        width: 100%;
        text-align: center;
    }
}

#world_stats_container {
    width: 100%;
}

.three_in_row {
    display: inline-block;
    width: 33.33%;
    float: left;
}

.two_in_row {
    display: inline-block;
    width: 50%;
    float: left;
}
@media (max-width: 767px) {
    .three_in_row {
        width: 50%;
    }
    .two_in_row {
        width: 100%
    }
}

@media (max-width: 480px) {
    .three_in_row {
        width: 100%;
    }
}

.country_link {
    cursor: pointer;
}

.threats_link {
    cursor: pointer;
}

.stats_panel {
    margin: 10px;
    display: block;
    border: 1px solid #333333;
}

.stats_panel h2 {
    background-color: #333333;
    text-align: center;
    line-height: 50px;
}

.stats_panel table {
    width: 100%;
    line-height: 25px;
    cursor: pointer;
}

.stats_panel tr {
    border-bottom: 1px solid #111111;
}

.stats_panel tr:last-of-type {
    border-bottom: none;
}

.stats_panel tr:hover {
    background-color: #006d55;
}


.stats_panel .element_index {
    width: 1px;
    text-align: right;
    padding-left: 10px;
    padding-right: 10px;
}

.stats_panel .element_name {
    text-overflow: ellipsis;
}

.stats_panel .element_value {
    width: 1px;
    text-align: right;
    padding-left: 10px;
    padding-right: 10px;
}

#world_stats_graph .graph {
    height: 250px;
    text-align: center;
    line-height: 250px;
}

#world_stats_detail_container{
    clear: both;
}


#country_stats {
    clear: both;
}

#country_stats .panel_header {
    display: block;
    width: 100%;
    text-align: center;

}
#country_stats h2.panel_header
{
    color: #ffffff;
    font-size: 22px;
    padding-bottom: 30px;
}

#country_stats h3.panel_header
{
    color: #848484;
    font-size: 14px;
    padding-top: 30px;
    border-top: 1px solid #006d55;
}

#country_stats_controls {
    display: block;
    width: 100%;
    background-color: #19241E;
    text-align: center;
}

#country_stats_controls .leftcolumn {
    text-align: right;
    display: inline-block;
    border: none;
    margin: 0;
}
#country_stats_controls .middlecolumn {
    text-align: left;
    display: inline-block;
    border: none;
    margin: 0;
    left: 20px;
}
#country_stats_controls .rightcolumn {
    text-align: left;
    display: inline-block;
    border: none;
    margin: 0;
    left: 20px;
}

#country_stats_time_period_week {
    margin: 10px 5px 20px 10px;
    line-height: 30px;
}

#country_stats_time_period_month {
    margin: 10px 5px 20px 10px;
    line-height: 30px;
}

@media (max-width: 480px) {
    #country_stats_controls .rightcolumn {
        width: 100%;
        text-align: center;
    }
    #country_stats_controls .middlecolumn {
        width: 100%;
        text-align: center;
    }
    #country_stats_controls .leftcolumn {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 767px) {
    #country_stats_controls span {
        display: none;
    }
}

#country_stats_graph .graph {
    height: 250px;
    text-align: center;
    line-height: 250px;
    display: block;
}

.nodata {
    line-height: 250px;
    display: none;
    text-align: center;
}

.graph__color-box {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 0 0;
}

#detection_types_container {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5px;
    width: auto;
    z-index: 5;
    overflow: hidden;
}
#detection_types_container .detection_types {
    width: 800px;
    margin: 0 auto;
}
#detection_types_container .detection_types ul.type-icons {
    display: flex;
    flex-wrap: wrap;
}
#detection_types_container .detection_types ul.type-icons li {
    width: 200px;
    margin: 0 0 15px;
    font-size: 12px;
    cursor: pointer;
    display: block !important;
}

#detection_types_container .detection_types ul.type-icons li .icon {
    width: 24px;
    height: 24px;
    vertical-align:middle
}

#detection_types_container .detection_types ul.type-icons li span.name {
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
    line-height: 24px;
    padding-left: 3px;
}

#detection_types_container .detection_types ul.type-icons li.disabled {
    opacity: .4;
}

#detection_types_container .detection_types ul.type-icons li.last {
    border-right: none !important;
}
#detection_types_container .detection_types ul.type-icons li i {
    display: block;
    position: absolute;
    top: 9px;
    left: 9px;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center center;
}

#detection_types_container .detection_types ul.type-icons li div.count {
    display: none;
    position: absolute;
    width: 100px;
    height: 16px;
    line-height: 16px;
    left: 0;
    top: -30px;
    text-align: center;
    color: #456e59;
    cursor: pointer;
}
#detection_types_container .detection_types ul.type-icons li div.count_line {
    display: block;
    position: absolute;
    width: 1px;
    height: 10px;
    background-color: #456e59;
    top: -10px;
    left: 50px;
    cursor: pointer;
}

#detection_types_container .detection_types .type-icons #detection_types_prev,
#detection_types_container .detection_types .type-icons #detection_types_next {
    width: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 10px auto;
    display: none !important;
}

#detection_types_container .detection_types .type-icons #detection_types_prev svg,
#detection_types_container .detection_types .type-icons #detection_types_next svg {
    width: 12px;
    fill: #629C7F;
}

#detection_types_container .detection_types .type-icons #detection_types_prev:hover svg,
#detection_types_container .detection_types .type-icons #detection_types_next:hover svg {
    fill: #ffffff;
}


/* countrypop and countrypop_mini */
#systempop {
    display: none;
    margin: 10px auto;
    max-width: 500px;
    z-index: 10;
    overflow: hidden;
    height: auto;
    background-color: #17201C;
    padding: 35px;
    color: #456e59;
    font-family:'Ubuntu Mono', monospace;
    border: 1px solid #456e59;
}
#systempop i.icon {
    display: block;
    top: 35px;
    left: 35px;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 5px;
    float: left;
}
/*# sourceMappingURL=stats.css.map */
