$color-white: #ffffff;
$color-orange: #e7931b;
$color-violet: #6b3b80;

body {
	font-size: 16px;
	line-height: 1.6;
	color: $color-white;
	font-family: 'Montserrat';
}

.color-orange {
	color: $color-orange;
}

strong {
	font-weight: 700;
}

.header {
	position: absolute;
	top:60px;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 3% 0;
}

.accenture-logo {
	font-size: 9px;
	text-transform: uppercase;
/* 	vertical-align: middle; */
	color: white;
	
	img {
		vertical-align: bottom;
		margin: 0 0 0 6px;
	}
}

.menu-toggle-btn {
	width: 50px;
	height: 50px;
	background: url(../images/manu-toggle.jpg) no-repeat center center / cover;
	border-radius: 50%;
	border:0;
}

.hero {
	background: url(../images/hero-bg.jpg) no-repeat center top / 100% auto;
/* 	height: 100%; */
	padding: 50px 0 0;
	
	h1 {
		font-size: 0;
		width: 76vw;
		padding: 50vw 0 0;
		background: url(../images/hero.svg) no-repeat center top / 100% auto;
		margin: 0 0 0 calc((100% - 1000px) / 2);
		
/* 		&::after {
			content: 'CYBER';
			font-size: 124px;
			font-weight: 800;
			position: absolute;
			top:100px;
		} */
	}
	
	&__text {
		
		margin: 13vw 0 0;
		padding: 0 0 23vw;
		
		strong {
			color: #fff445;
		}
	}
}

.container {
	width: 1000px;
	margin: 0 auto;
	
	&-small {
		width: 400px;
	}
	
	&-medium {
		width: 600px;
	}
	
	&-center {
		margin: 0 auto;
	}
}

.text {
	p:not(:last-of-type) {
		margin: 0 0 30px;
	}
}

.title-big {
	font-size: 40px;
	text-transform: uppercase;
	font-weight: 800;
	line-height: 1.15;
	margin: 0 0 30px;
}

.intro {
	margin: -29% 0 0;
	position: relative;
	z-index: 3;
	
	&__illustration {
		width: 100%;
		padding: 50% 0 0;
		background: url('../images/intro-illustration.png') no-repeat center top / 100% auto;
		position: relative;
	}
}

.points {
	&__point {
		width: 30px;
		height: 30px;
		position: absolute;
		background: #e9650f;
		border-radius: 50%;
		box-shadow: 0 0 0 12px rgba(#e9650f, 0.3);
		animation: pulse 1s 0s infinite ;
		cursor: pointer;
	}
	
	&__point1 {
		left:35.5%;
		top:50%;
	}
	
	&__point2 {
		left:62%;
		top:18%;
		animation-delay: 0.5s;
	}
	
	&__textbox {
		position: absolute;
		font-size: 14px;
		color: black;
		background: rgba(white, 0.9);
		padding: 10px 12px;
		width: 260px;
		transition: 0.3s cubic-bezier(0, 0.59, 0.375, 1);
		opacity: 0;
		transform: scale(0.85);
		
		&.active {
			opacity: 1;
		  transform: scale(1);
		}
	}
	
	&__textbox1 {
		left:28%;
		top:57.5%;
	}
	
	&__textbox2 {
		left:67%;
		top:9%;
	}
}

@keyframes pulse {
  0% {
    transform: scale(0.9); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(0.9); } }

.case-study {
	background: #6b3b80;
	margin: -21% 0 0;
	padding: 26% 0 0;
	position: relative;
	
	.jagged-graphics {
		position: absolute;
		width: 100%;
		height: 500px;
		background: url(../images/jagged1.png) no-repeat center top / 100% auto;
		top:-200px;
	}
	
	&__jagged {
		position: relative;
		top:-100px;
	}
}

.graph {
	text-align: center;
	padding: 100px 0 0;
	margin: 0 0 90px;
	
	&__title {
		text-transform: uppercase;
		font-size: 19px;
		margin: 0 0 40px;
	}
	
	&__placeholder {
		width: 100%;
		height: auto;
	}
}

.case-study-map {
	background: url(../images/map-placeholder-nodots.jpg) no-repeat center top / 100% auto;
	padding: 100px 0 0;
	margin: 100px 0 0;
	min-height: 55vw;
	position: relative;
	
	&__note {
		font-size: 11px;
		margin: 30px 0 40px;
	}
	
	&__hover {
		font-size: 14px;
		font-weight: 700;
		
		&::before {
			content:'';
			width: 42px;
			height: 42px;
			display: inline-block;
			background: url(../images/hotspot.svg) no-repeat center center / 100% auto;
			vertical-align: middle;
			margin: 0 10px 0 0;
		}
	}
	
	&__dots-svg {
		position: absolute;
		top:28%;
		left: 53.9%;
		width: 21%;
		height: auto;
		
		circle {
			opacity: 0;
			transition: 0.2s;
/* 			transform: scale(0.5); */
		}
		
		&.active {
			
			circle {
			 opacity: 1;
/* 			 transform: scale(1); */
			}
		}
	}
	
	&__hotspots-svg {
		position: absolute;
		top:33.6%;
		left: 51.6%;
		width: 17.7%;
		height: auto;
		
		circle {
			cursor: pointer;
		}
	}
	
	&__hotspot-texts {
		position: relative;
		width: 520px;
		margin: 60px 0 0;
		
		li {
			color: black;
			position: absolute;
			top:0;
			width: 100%;
			opacity: 0;
			transition: 0.3s;
			transform: translateY(-50%);
			
			&.active {
				opacity: 1;
			}
			
			p {
				background: white;
				padding: 10px;
				border-left:10px solid transparent;
			}
			
			&:nth-of-type(1) p{
				border-color:#90cd63;
			}
			&:nth-of-type(2) p{
				border-color:#fadb37;
			}
			&:nth-of-type(3) p{
				border-color:#31c3ad;
			}
			&:nth-of-type(4) p{
				border-color:#1a8035;
			}
			&:nth-of-type(5) p{
				border-color:#015af5;
			}
			&:nth-of-type(6) p{
				border-color:#f18d05;
			}
			&:nth-of-type(7) p{
				border-color:#ef7379;
			}
			&:nth-of-type(8) p{
				border-color:#e43d1f;
			}
		}
	}
}

.risks {
	background: url('../images/risks.jpg') no-repeat center top / 100% auto;
	padding: 100px 0 190px;
	color: black;
	
	.title-big {
		color: $color-violet;
	}
	
	&__risk {
		margin: 0 0 85px;
		
		h1 {
			text-transform: uppercase;
			font-size: 20px;
			margin: 0 0 5px;
		}
	}
	
	&__box {
		background: #ffe69d;
		padding: 20px 28px 17px 28px;
		margin: 40px 0 0;
		position: relative;
    z-index: 1;
		
		&::after {
			content:'';
			position: absolute;
			width: 100%;
			height: 100%;
			border:1px solid #ffe69d;
			top:9px;
			left:9px;
			z-index: -1;
		}
		
		h2 {
			font-size: 19px;
			text-transform: uppercase;
			margin: 0 0 10px;
			
			&::before {
				content:'';
				width: 58px;
				height: 48px;
				vertical-align: middle;
				display: inline-block;
				margin: 0 10px 0 0;
			}
		}
		
		p {
			margin: 0 0 20px;
		}
		
		.hidden-content {
			display: none;
		}
		
		.short {
			width: 60px;
			overflow: hidden;
			display: inline-block;
			text-overflow: ellipsis;
			white-space: nowrap;
			vertical-align: bottom;
		}
		
		&.active {
			.short {
				width: auto;
			}
		}
	}
	
	&__petya-icon::before {
		background: url(../images/petya-icon.png) no-repeat center center;
	}
	
	&__wannacry-icon::before {
		background: url(../images/wannacry-icon.png) no-repeat center center;
	}
	
	&__cosmos-icon::before {
		background: url(../images/cosmos-icon.png) no-repeat center center;
	}
	
	&__box-read-more {
		border-top: 1px solid $color-orange;
		text-align: center;
		cursor: pointer;
		font-weight: 600;
		font-size: 13px;
		text-transform: uppercase;
		padding: 17px 0 0;
		margin: 20px 0 0;
		
		&::after {
			content:'';
			width: 26px;
			height: 26px;
			display: inline-block;
			background: url(../images/arrow-down.png) no-repeat center center;
			vertical-align: middle;
			margin: -3px 0 0 5px;
		}
		
		&.active::after {
			transform: rotate(180deg);
		}
	}
	
	&__chart {
		background: url(../images/chart-bg.png) no-repeat center center / cover;
		padding: 90px 0;
		text-align: center;
		
		h2 {
			color: black;
			text-transform: uppercase;
			font-size: 19px;
			font-weight: 400;
			margin: 0 0 40px;
		}
	}
	
	&__outro-copy {
		padding: 90px 0 0;
	}
}

.smart-ways {
	background: #653e76;
	padding: 80px 0;
	position: relative;
	z-index: 1;
	
	&__jagged {
		position: absolute;
		width: 100%;
		height: 600px;
		background: url('../images/jagged2.png') no-repeat center top / 100% auto;
		top:-350px;
		z-index: -1;
	}
	
	&__list {
		padding: 0 0 0 185px;
		margin: 40px 0 0;
		background: url(../images/smart-ways-icon.svg) no-repeat left top;
		
		li {
			padding: 49px 0;
		}
	}
}

.outro {
/* 	background: #d67107; */
	background: #653e76;
	padding: 200px 0 100px 45%;
	position: relative;
	z-index: 1;
	
	&::after {
		content:'';
		position: absolute;
		width: 100%;
		height: 100px;
		background: #d87408;
		bottom:0;
		left: 0;
		z-index: -1;
	}
	
	&__jagged {
		position: absolute;
		width: 100%;
		height: 54vw;
		background: url('../images/jagged3.png') no-repeat center bottom / 100% auto;
		left: 0;
		bottom: 30px;
		z-index: -1;
	}
}

.footer {
	position: relative;
	z-index: 3;
	
	&__source {
		background: #e8ac1c;
		color: #b73800;
		text-align: center;
		font-weight: 300;
		padding: 50px 0;
	}
	
	&__find-out-more {
		background: #d2d2d2;
		padding: 40px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	
	&__logo {
		color: black;
	}
	
	.footer__find-more-link {
		font-size: 22px;
		color: #353535;
		text-decoration: underline !important;
	}
}

.next-article {
	background: #279091 url(../images/next-article-bg.svg) no-repeat center top / auto 100%;
	padding: 100px 0;
	font-size: 18px;
	
	&__container {
		width: 500px;
	}
	
	&__next {
		text-transform: uppercase;
		letter-spacing: 2px;
	}
	
	p {
		margin: -20px 0 20px;
	}
	
	.next-article__link {
		text-decoration: underline !important;
		color: white;
		font-weight: 700;
	}
}



