$color-dark: #1e2744;

body {
	font: 16px/1.44 'Averta';
	color: #3f414d;
}

span, a {
	display: inline-block;
}

img {
	max-width: 100%;
	height: auto;
}

.s-blockchain_graphics svg * {
	transform-origin: center;
  transform-box: fill-box;
}

.scroller {
	height: 100vh;
}

.container {
	max-width: 1250px;
/* 	padding: 0 5%; */
	margin:0 auto;
}

.text {
	p:not(:last-child) {
		margin: 0 0 22px;
	}
}

.text-light {
	color: #696d80;
}

.text-center {
	text-align: center;
}

.btn {
	border:2px solid #c5d4df;
	padding: 14px 35px;
	color: #2d3758;
	font-weight: 600;
	border-radius: 27px;
	cursor: pointer;
	transition: 0.3s;
/* 	background: linear-gradient(0deg, transparent 0%, transparent 0%, transparent 0%,transparent 0%, transparent 0%, transparent 0%); */
	
	&:not(.btn-colored):hover {
/* 		background: linear-gradient(90deg, #c873e8 0%, #f89097 20%, #ff67a5 40%,#c873e8 60%, #f89097 80%, #ff67a5 100%); */
		background: #2d3758;
		color: white;
		border-color: #2d3758;
	} 
	
	&-colored {
		padding: 15px 36px;
		color: white;
		background: linear-gradient(90deg, rgba(200,115,232,1) 0%, rgba(248,144,151,1) 50%, rgba(255,103,165,1) 100%);
		background: linear-gradient(90deg, #c873e8 0%, #f89097 20%, #ff67a5 40%,#c873e8 60%, #f89097 80%, #ff67a5 100%);
		transition: 1s;
    background-size: 280px auto;
		border:none;
		
		&:hover {
			background-position: -136px 0px;
		}
	}
	
	&-row {
		margin: 45px 0 0;
		
		a:first-child {
			margin: 0 20px 0 0;
		}
	}
}

.download-link {
	width: 90px;
	height: 27px;
	background: url('../images/app-store-icon.png') no-repeat center center / cover;
	transition: 0.3s;
	vertical-align: bottom;
	
	&.google-play {
	 background: url('../images/google-play-icon.png') no-repeat center center / cover;
/* 		margin: 3px 0 0; */
	}
	
	&:hover {
		transform: scale(0.95);
		backface-visibility: hidden;
	}
}

.login-link {
	color:#2d3758;
  font-weight: 600;
	vertical-align: middle;
	
	span {
		vertical-align: middle;
		transition:transform 0.3s;
		backface-visibility: hidden;
	}
	
	&::before {
		content:'';
		width: 36px;
		height: 36px;
		display: inline-block;
		vertical-align: middle;
		margin: 0 10px 0 0;
		background:#204479 url(../images/key-icon.svg) no-repeat center center / 14px auto;
		border-radius: 50%;
		transition:transform 1s;
	}
	
	&:hover {
		&::before {
			transform: rotate(450deg);
		}
		
		span {
			transform: translateX(-5px);
		}
	}
}

.section {
	padding: 70px 0;
	position: relative;
	
	&::after {
		content:'';
		position: absolute;
		left: 50%;
		transform: translate(-50%, 50%) rotate(90deg);
		bottom: 0;
		height: 36px;
		width: 36px;
		border-radius: 50%;
		background: #c5d4df url(../images/arrow-down.svg) no-repeat center center / 11px auto;
	}

	&-name {
		font-size: 14px;
		text-transform: uppercase;
		color:#ff68a4;
		font-weight: 600;
		margin: 0 0 5px;
	}

	&-title {
		font-size: 48px;
		font-weight: 700;
		line-height: 1.1;
		color: $color-dark;
		margin: 0 0 60px;
	}
}

.header {
	position: absolute;
	z-index:10;
	width: 100%;
	padding: 30px 5% 0px;
/* 	margin: 30px 0 0; */
/* 	padding: 30px 0 0; */
	
	&-copy {
		position: fixed;
		top:0;
		left: 0;
		transform: translate3d(0,-100%,0);
		transition: 0.5s;
		padding: 8px 5% 8px;
		background:#e9f0f6;
		
		.menu_coin {
			width: 60px;
			height: 60px;
		}
		
		&.fixed {
			transform: translateZ(0);
			box-shadow: 0px 0px 8px 8px rgba(black,0.12);
		}
	}
	
	&_nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	
	&_menu {
		margin: 0 0 0 107px;
		
		li a {
			color:#2d3758;
		}
	}
	
	&_buttons {
		a {
/* 			display: block; */
		}
	}
}

.menu {
	li {
		display: inline-block;
		margin: 0 20px;
		vertical-align: middle;
		
		a:not(.menu_coin) {
			font-weight: 600;
			position: relative;
			
			&::before {
				left: 0;
				content: '';
				height: 2px;
				bottom: -3px;
				background: #2d3758;
				position: absolute;
				-webkit-transform: scaleX(0);
				transform: scaleX(0);
				will-change: transform;
				-webkit-transform-origin: right;
				transform-origin: right;
				-webkit-backface-visibility: hidden;
				backface-visibility: hidden;
				width: 100%;
				-webkit-transition: background 500ms linear,-webkit-transform .4s ease-out;
				transition: background 500ms linear,-webkit-transform .4s ease-out;
				transition: transform .4s ease-out,background 500ms linear;
				transition: transform .4s ease-out,background 500ms linear,-webkit-transform .4s ease-out;
			}
			
			&:hover::before,
			&.active::before{
				-webkit-transform: scaleX(1);
				transform: scaleX(1);
				-webkit-transform-origin: left;
				transform-origin: left
			}
		}
	}
	
	&_coin {
		width: 72px;
		height: 72px;
		background: url('../images/coin-icon.png') no-repeat center center / cover;
	}
}

.hero {
	background: #e8eff5 url(../images/hero.jpg) no-repeat center bottom / cover;
	height: 100vh;
	min-height: 800px;
	z-index: 2;
	padding: 150px 0 0;
	
	&_container {
		padding: 100px 0;
	}
	
	&_title {
		font-size: 72px;
		line-height: 1;
		color: $color-dark;
		margin: 0 0 35px;
	}
	
	.section-title {
		margin: 0 0 25px;
	}
	
	p {
/* 		max-width: 360px; */
/* 		font-size: 18px; */
	}
	
	&::after {
		display: none;
	}
	
	.socials {
		left:calc((100% - 1200px) / 2);
		position: absolute;
		bottom: 140px;
		
		li a {
			background: #c5d4df;
		}
	}
	
	&-patterns {
		position: absolute;
		top:0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		pointer-events: none;
		
		div {
			position: absolute;
			
			img {
				width: 60px;
			}
		}
	}
	
	&_illustrations {
		position: absolute;
		width: 56vw;
		height: 56vw;
		right:0;
		bottom:0;
/* 		z-index: -1; */
		
		div {
			position: absolute;
			overflow: hidden;
			z-index: 2;
			
			&.notebook {
				top:30%;
				height: 70%;
				z-index: 1;
/* 				z-index: -1; */
			}
			
			&.iphone1 {
				width: 58%;
				left: -19%;
				bottom: 0%;
				height: 26%;
			}
			
			&.iphone2 {
				width: 53%;
				right: 0%;
				top:20%;
			}
			
			&.iphone3 {
				width: 65%;
				right: 0%;
				bottom: -28%;
			}
		}
	}
}

patterns {
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	pointer-events: none;

	div {
		position: absolute;

		img {
			width: 60px;
		}
	}
}

.s-budbo {
	z-index: 0;
	height: 620px;
	
	&_container {
		max-width: 555px;
	}
	
	&_illustrations {
		width: 50%;
		position: absolute;
		right: 0;
		top:0;
		height: 600px;
		background: url(../images/budbo.jpg) no-repeat right center / contain;
	}
}

.s-app {
	margin: 0px 0 0;
	padding: 100px 0 120px;
	z-index: 3;
}

.slider {
	max-width:1200px;
	margin: 0px auto 20px;
	padding: 50px  0 0;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: space-between;
	
	&-wrap {
		position: relative;
		top:0;
	}
	
	&_left {
		width: 460px;
	}
	
	&_content {
		text-align: left;
		color:#a7adcc;
		font-size: 24px;
		font-weight: 600;
		
		&-inner {
			width: 412px;
			transition: 0.3s;
			
			span {
				font-size: 14px;
				color: #3dddcd;
				margin: 0px 0 20px;
				display: block;
			}
		}
		
		li {
			margin: 0 0 40px;
			transition: 0.3s;
			position: relative;
			
			&::after {
				content:'';
				position: absolute;
				left: 0;
				top:0;
				width: 2px;
				height: 0;
				background: #3dddcd;
				transition: height 0.3s;
			}
			
			&.show {
				color: #1e2744;
/* 				border-left:2px solid #3dddcd; */
/* 				padding: 0 0 0 46px; */
				
				&::after {
					height: 100%;
				}
			}
			
			&.show .slider_content-inner {
				transform: translateX(46px);
			}
		}
		
		&-active {
			
		}
	}
	
	&_right {
		position: relative;
	}
	
	&_mockup {
		width: 83.7vh;
		height: 90vh;
		min-width: 606px;
		min-height: 650px;
/* 		background: url(../images/iphone-frames.png) no-repeat 5% center / auto 100%; */
		position: relative;
		
		&::after {
			content:'';
			position: absolute;
			height: 100%;
			top:0;
			left:0;
			width:100%;
			z-index: 2;
			background: url(../images/iphone-mockup.png) no-repeat left center / auto 100%;
		}
	}
	
	&_slides {
		height: 100%;
		transition: 0.5s;
		
		&.show2 {
			transform: translate3d(0,-100%,0);
		}
		
		&.show3 {
			transform: translate3d(0,-200%,0);
		}
		
		&-wrap {
			position: absolute;
			height: 81%;
			top:8.5%;
			left:20%;
			width:auto;
			overflow: hidden;
		}
		
		img {
			height: 100%;
			width: auto;
			display: block;
		}
	}
	
	&_controls {
		position: absolute;
		right:0;
		top:44%;
	}
	
	&_control {
		border: 2px solid #c5d4df;
		border-radius: 50%;
		width: 36px;
		height: 36px;
		padding: 0;
		background: url('../images/chevron.svg') no-repeat center center / 5px auto;
		transform: rotate(90deg);
		display: block;
		margin: 12px 0;
		cursor: pointer;
	}
	
	&_up {
		transform: rotate(-90deg);
	}
}

.rombs {
	span {
		position: absolute;
		width: 160px;
		height: 160px;
		z-index: -1;
		top:22%;
		right: 6%;

		&::after {
			content:'';
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(#f5c154, 0.2);
			transform: rotate(45deg);
			border-radius: 5px;
		}

		&:nth-child(1) {
			top:22%;
			left: 0;

			&::after {
				background:rgba(#fd8a97, 0.2);
			}
		}

		&:nth-child(3) {
			top:38%;
			right: 24%;
			width: 210px;
			height: 210px;

			&::after {
				background:rgba(#3dddcd, 0.2);
			}
		}
	}
}

.s-blockchain {
	background: #e8eff5;
	padding: 130px 0;
	
	&_container {
		width: 550px;
	}
	
	.container {
		display: flex;
/* 		flex-wrap: wrap; */
		align-content: center;
		align-items: center;
	}
	
	&_content {
		width: 60%;
	}
	
	.checklist-wrap {
		margin:40px 0;
		display: flex;
		
	}
	
	.checklist {
/* 		-moz-column-count: 2; Для Firefox */
/*     -webkit-column-count: 2; Для Safari и Chrome */
/*     column-count: 2; */
/* 		height: 230px; */
		width: 60%;
		
		&:nth-of-type(2) {
			width: 40%;
		}
			
		li {
			margin: 0 0 7px;
			display: inline-block;
			
			&::before {
				content:'';
				display: inline-block;
				vertical-align: top;
				transform: translateY(2px);
				width: 18px;
				height: 18px;
				background: url(../images/bullet.svg) no-repeat center center / cover;
				margin: 0 10px 0 0;
			}
		}
	}
	
	&_graphics {
		width: 55%;
		height: 600px;
/* 		background: url(../images/BudboChart2.svg) no-repeat 70% center / contain; */
		position: absolute;
		right:0;
	}
}

.s-chain {
	padding: 140px 0 0;
	overflow: hidden;
	
	&_container {
		max-width: 1000px;
		margin: 0 auto;
		position: relative;
		z-index: 2;
	}
	
	&_graphics {
		margin: 60px 0 0;
/* 		height: 750px; */
		width: auto;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
/* 		overflow: hidden; */
		
		&::after {
			content:'';
			width: 100%;
			height: 260px;
			position: absolute;
			bottom: 0;
			left: 0;
			background: #e8eff5;
			z-index: -2;
		}
		
		&::before {
			content:'';
			position: absolute;
			width: 100%;
			height: 100%;
			top:0;
			left:0;
/* 		  background: url(../images/chain.png) no-repeat center center / contain; */
			z-index: 1;
		}
		
		.rombs {
			span {
        top:5%;
				right:3%;
				
				&::after {
					
				}

				&:nth-child(1) {
					top:36%;
					left: auto;
					right: 10%;
				}

				&:nth-child(3) {
					top:11%;
					right: auto;
					left: 3%;
					width: 340px;
					height: 340px;
				}
			}
		}
	}
	
	&_iphone {
		margin: -150px -220px 0 -90px;
		z-index: 2;
/* 		padding-top: 100px; */
	}
	
	&_notebook {
		
	}
	
	&::after {
		display: none;
	}
}

.s-wallet {
	background: #e8eff5; 
	padding: 200px 0 280px;
	z-index: 4;
/* 	background: #e8eff5 url(../images/wallet.png) no-repeat center 0px; */
	
	&_container {
		max-width: 640px;
	}
	
	.section-title {
		margin-bottom: 40px;
	}
	
	&_graphics {
		position: absolute;
		left: 56%;
		top:0%;
		width: 500px;
		height: 600px;
/* 		background: url(../images/MaticSideChain2.svg) no-repeat right center / contain; */
	}
}

.s-contacts {
	background: url(../images/contacts.jpg) no-repeat center top / 100% auto;
	padding: 110px 0 0;
	z-index: 2;
	
	.section-title {
		color: white;
	}
	
	.contact-form {
		width: 950px;
		margin: 90px auto 0;
		
		.btn {
			font: 16px/1.44 'Averta';
			font-weight: 600;
		}
		
		&_fields {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			margin: 0 0 60px;
		}
		
		input,
		textarea {
			background: none;
			font: 16px/1.44 'Averta';
			color:#8790ab;
			border: none;
			border-bottom: 2px solid #2d3654;
			padding: 0 0 19px;
		}
		
		input {
			width: 49%;
		}
		
		textarea {
			width: 100%;
			resize: none;
			margin: 30px 0 0;
		}
	}
	
	&::after {
		display: none;
	}
}

.footer {
	background: #172748;
	color: #8790ab;
	padding: 79px 0px 79px;
	
	a {
		color:white !important;
		font-weight: 400 !important;
	}
	
	&_row {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding: 11px 0;
	}
	
	.menu {
		li:first-child {
			margin-left:0;
		}
		
		li a::before {
			background: white;
		}
	}
}

.socials {
	li {
		display: inline-block;
		margin: 0 0 0 7px;
		a {
			width: 36px;
			height: 36px;
			background: #204479;
			border-radius: 50%;
			text-align: center;
			line-height: 36px;
			color: white;
			position: relative;
			z-index: 1;
			transition: 0.4s;
			
			&::before {
				content:'';
				background: #000000;
				border-radius: 50%;
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
				-webkit-transition: opacity 0.2s 0.2s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
				transition: opacity 0.2s 0.2s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
				transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s 0.2s cubic-bezier(0.4, 0, 0.2, 1);
				transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s 0.2s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
				-webkit-transform: scale(0.6, 0.6);
				-ms-transform: scale(0.6, 0.6);
				transform: scale(0.6, 0.6);
				opacity: 0;
				display: inline-block;
				z-index: -1;
			}
			
			&:hover {
				background: transparent;
				
				&::before {
					opacity: 1;
					-webkit-transform: scale(1, 1);
					-ms-transform: scale(1, 1);
					transform: scale(1, 1);
					-webkit-transition: opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
					transition: opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
					transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
					transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
				}
			}
			
			&.socials_facebook {
				&::before {
					background: #3b5998;
				}
			}
			
			&.socials_twitter {
				font-size: 18px;
				&::before {
					background: #1da1f2;
				}
			}
			&.socials_insta {
				font-size: 21px;
				
				&::before {
					background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
				}
			}
		}
	}
}

.s-blockchain_graphics {
	#Fill-1 {
		animation: pulse 2.5s infinite ;
	}

	#path-15_1_,
	#path-13_1_,
	#path-3_1_,#path-5_1_,#path-7_1_,#path-9_1_,#path-11_1_,#path-17_1_ {
		animation: pulse 2.5s 3s infinite ;
	}

	#Bg_11_,#Bg_14_,#Bg_2_,#Bg_4_,#Bg_6_,#Bg_8_,#Bg_9_,#Bg_16_ {
		animation: pulse 2.5s 2s infinite ;
	}
}

@keyframes pulse {
	0%{
		transform: scale(0.9);
	}
	50%{
		transform: scale(1.1);
	}
	100%{
		transform: scale(0.9);
	}
}

.animated {
	&.fadeIn {
		opacity: 0;
		transform: translateY(60px);
		transition: opacity 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
				transition-delay: 0s, 0s;
		transition-delay: .3s;
		
		&.in-view {
			opacity: 1;
			transform: none;
		}
	}
}







