@media (min-width: 768px) {
	.slider_mockup-mobile, .menu-button, .mobile-logo {
		display: none;
	}
}

@media (max-width: 767px) {
	body {
		font-size: 16px;
	}
	
	.header {
/* 		display: none; */
		display: flex;
		justify-content: space-between;
		padding-top: 9px;
		box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.12);
/* 		overflow: hidden; */
		background: transparent;
		transition: 0.7s;
/* 		height: 73px; */
		
		&.opened {
/* 		  height: 100vh; */
		}
		
		&::after {
			content:'';
			left: 0;
			top:0;
			position: absolute;
			width: 100%;
			height: 73px;
			background: #e9f0f6;
			z-index: -1;
		}
		
		&.fixed {
			transform: translateY(0);
		}
		
		nav {
/* 			display: none; */
			position: absolute;
			top:73px;
			left: 0;
			background: #e9f0f6;
			padding: 0% 6%;
/* 			display: block; */
				height: 0;
			width: 100%;
			box-sizing: border-box;
			flex-direction: column;
			align-items: flex-start;
		  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.12);
/* 			transform: translate3d(0,-100%,0); */
			transition: 0.7s;
			z-index: -1;
			overflow: hidden;
			
			&.opened {
/* 				transform: translate3d(0,0%,0); */
				height: calc(100vh - 73px);
				padding: 10% 6%;
			}
			
			.menu_coin {
				display: none;
			}
			
			.header_menu {
				margin: 0;
				
				li {
					margin: 30px 0;
					display: block;
				}
			}
		}
		
		.menu-button {
			width: 54px;
			height: 54px;
			background: #1e2744 url(../images/menu-icon.png) no-repeat center center / 15px auto;
			border-radius: 50%;
			border: 0;
		}
		
		.mobile-logo {
			width: 55px;
			height: 55px;
		}
	}
	
	.section-title {
		font-size: 30px;
		margin: 0 0 30px;
	}
	
	.hero {
		text-align: center;
		height: auto;
		min-height: 0;
		overflow: hidden;
		margin-top: -73px;
		
		&_illustrations {
			width: 140vw;
			height: 140vw;
			left: -30vw;
			position: relative;
			margin: -50px 0 0;
		}
	}
	
	.s-budbo_container {
		padding: 0 5%;
	}
	
	.s-app {
/* 		overflow: hidden; */
	}
	
	.slider {
		display: block;
		overflow: hidden;
		
		&_left {
		  width: auto;	
		}
		
		&_right {
			display: none;
		}
		
		&_content {
			font-size: 18px;
			
			li {
/* 				padding: 0 5%; */
				width: 80%;
				margin: 0 0 0 5%;
				
				&.show .slider_content-inner {
					transform: translateX(25px);
				}
			}
		}
		
		&_content-inner {
			width: auto;
			
			span {
				margin: 0 0 7px;
			}
		}
		
		&_mockup {
			width: 109%;
			min-width: 0;
			min-height: 0;
			height: auto;
			padding: 110% 0 0;
			margin: 10px 0 40px 10%;
		}
	}
	
	.rombs {
		
		span {
			width: 80px;
		  height: 80px;
			
			&:nth-child(3) {
				width: 110px;
				height: 110px;
			}
		}
	}
	
	.s-blockchain {
		&_content {
			width: 100%;
/* 			padding: 0 5%; */
			text-align: center;
		}
		&_container {
			width: 100%;
/* 			padding: 0 5%; */
		}
		
		.checklist-wrap {
			display: block;
			text-align: left;
		}
		
		.checklist {
			width: 100% !important;
			
			li {
				display: block;
			}
		}
		
		&_graphics {
			position: relative;
			width: 100%;
			left: 0;
			margin: 20px auto 0;
			height: auto;
		}
		
		.container {
			display: block;
		}
	}
	
	.s-chain {
		
		&_container {
			padding: 0 5%;
		}
		
		&_graphics {
			justify-content: flex-start;
		}
		
		&_iphone {
			margin: -150px -120px 0 -40px;
		}
		
		&_notebook {
			margin: 0px -120px 0 0px;
		}
		
		.rombs {
			span:nth-child(3) {
				width: 200px;
				height: 200px;
			}
		}
	}
	
	.s-wallet {
		text-align: center;
		padding: 50px 0 100px;
		
		&_graphics {
			position: relative;
			width: 90%;
			left: 5%;
			margin: 40px 0 0;
			height: auto;
			top:0;
		}
	}
	
	.s-contacts {
		padding: 70px 0 0;
		
		.contact-form {
			width: 100%;
			
			input {
				width: 100%;
				margin: 20px 0 0;
			}
			
			&_fields {
				margin: 0 0 40px;
			}
		}
	}
	
	.footer {
		padding: 40px 0 40px;
		
		&_row {
			display: block;
			text-align: center;
		}
	}
	
	.socials {
		margin: 0 0 40px;
		
		li {
			margin: 0 5px;
		}
	}
	
	.container {
		padding: 0 5%;
	}
	
	.btn-row a {
    margin: 5px !important;
	}
	
	.btn {
/* 		margin: 10px 10px; */
	}
}